shettydf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "shettydf"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "source"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "source"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "destination"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"SK_ID_CURR": {
							"type": "string"
						},
						"TARGET": {
							"type": "string"
						},
						"NAME_CONTRACT_TYPE": {
							"type": "string"
						},
						"CODE_GENDER": {
							"type": "string"
						},
						"FLAG_OWN_CAR": {
							"type": "string"
						},
						"FLAG_OWN_REALTY": {
							"type": "string"
						},
						"CNT_CHILDREN": {
							"type": "string"
						},
						"AMT_INCOME_TOTAL": {
							"type": "string"
						},
						"AMT_CREDIT": {
							"type": "string"
						},
						"AMT_ANNUITY": {
							"type": "string"
						},
						"AMT_GOODS_PRICE": {
							"type": "string"
						},
						"NAME_TYPE_SUITE": {
							"type": "string"
						},
						"NAME_INCOME_TYPE": {
							"type": "string"
						},
						"NAME_EDUCATION_TYPE": {
							"type": "string"
						},
						"NAME_FAMILY_STATUS": {
							"type": "string"
						},
						"NAME_HOUSING_TYPE": {
							"type": "string"
						},
						"REGION_POPULATION_RELATIVE": {
							"type": "string"
						},
						"DAYS_BIRTH": {
							"type": "string"
						},
						"DAYS_EMPLOYED": {
							"type": "string"
						},
						"DAYS_REGISTRATION": {
							"type": "string"
						},
						"DAYS_ID_PUBLISH": {
							"type": "string"
						},
						"OWN_CAR_AGE": {
							"type": "string"
						},
						"FLAG_MOBIL": {
							"type": "string"
						},
						"FLAG_EMP_PHONE": {
							"type": "string"
						},
						"FLAG_WORK_PHONE": {
							"type": "string"
						},
						"FLAG_CONT_MOBILE": {
							"type": "string"
						},
						"FLAG_PHONE": {
							"type": "string"
						},
						"FLAG_EMAIL": {
							"type": "string"
						},
						"OCCUPATION_TYPE": {
							"type": "string"
						},
						"CNT_FAM_MEMBERS": {
							"type": "string"
						},
						"REGION_RATING_CLIENT": {
							"type": "string"
						},
						"REGION_RATING_CLIENT_W_CITY": {
							"type": "string"
						},
						"WEEKDAY_APPR_PROCESS_START": {
							"type": "string"
						},
						"HOUR_APPR_PROCESS_START": {
							"type": "string"
						},
						"REG_REGION_NOT_LIVE_REGION": {
							"type": "string"
						},
						"REG_REGION_NOT_WORK_REGION": {
							"type": "string"
						},
						"LIVE_REGION_NOT_WORK_REGION": {
							"type": "string"
						},
						"REG_CITY_NOT_LIVE_CITY": {
							"type": "string"
						},
						"REG_CITY_NOT_WORK_CITY": {
							"type": "string"
						},
						"LIVE_CITY_NOT_WORK_CITY": {
							"type": "string"
						},
						"ORGANIZATION_TYPE": {
							"type": "string"
						},
						"EXT_SOURCE_1": {
							"type": "string"
						},
						"EXT_SOURCE_2": {
							"type": "string"
						},
						"EXT_SOURCE_3": {
							"type": "string"
						},
						"APARTMENTS_AVG": {
							"type": "string"
						},
						"BASEMENTAREA_AVG": {
							"type": "string"
						},
						"YEARS_BEGINEXPLUATATION_AVG": {
							"type": "string"
						},
						"YEARS_BUILD_AVG": {
							"type": "string"
						},
						"COMMONAREA_AVG": {
							"type": "string"
						},
						"ELEVATORS_AVG": {
							"type": "string"
						},
						"ENTRANCES_AVG": {
							"type": "string"
						},
						"FLOORSMAX_AVG": {
							"type": "string"
						},
						"FLOORSMIN_AVG": {
							"type": "string"
						},
						"LANDAREA_AVG": {
							"type": "string"
						},
						"LIVINGAPARTMENTS_AVG": {
							"type": "string"
						},
						"LIVINGAREA_AVG": {
							"type": "string"
						},
						"NONLIVINGAPARTMENTS_AVG": {
							"type": "string"
						},
						"NONLIVINGAREA_AVG": {
							"type": "string"
						},
						"APARTMENTS_MODE": {
							"type": "string"
						},
						"BASEMENTAREA_MODE": {
							"type": "string"
						},
						"YEARS_BEGINEXPLUATATION_MODE": {
							"type": "string"
						},
						"YEARS_BUILD_MODE": {
							"type": "string"
						},
						"COMMONAREA_MODE": {
							"type": "string"
						},
						"ELEVATORS_MODE": {
							"type": "string"
						},
						"ENTRANCES_MODE": {
							"type": "string"
						},
						"FLOORSMAX_MODE": {
							"type": "string"
						},
						"FLOORSMIN_MODE": {
							"type": "string"
						},
						"LANDAREA_MODE": {
							"type": "string"
						},
						"LIVINGAPARTMENTS_MODE": {
							"type": "string"
						},
						"LIVINGAREA_MODE": {
							"type": "string"
						},
						"NONLIVINGAPARTMENTS_MODE": {
							"type": "string"
						},
						"NONLIVINGAREA_MODE": {
							"type": "string"
						},
						"APARTMENTS_MEDI": {
							"type": "string"
						},
						"BASEMENTAREA_MEDI": {
							"type": "string"
						},
						"YEARS_BEGINEXPLUATATION_MEDI": {
							"type": "string"
						},
						"YEARS_BUILD_MEDI": {
							"type": "string"
						},
						"COMMONAREA_MEDI": {
							"type": "string"
						},
						"ELEVATORS_MEDI": {
							"type": "string"
						},
						"ENTRANCES_MEDI": {
							"type": "string"
						},
						"FLOORSMAX_MEDI": {
							"type": "string"
						},
						"FLOORSMIN_MEDI": {
							"type": "string"
						},
						"LANDAREA_MEDI": {
							"type": "string"
						},
						"LIVINGAPARTMENTS_MEDI": {
							"type": "string"
						},
						"LIVINGAREA_MEDI": {
							"type": "string"
						},
						"NONLIVINGAPARTMENTS_MEDI": {
							"type": "string"
						},
						"NONLIVINGAREA_MEDI": {
							"type": "string"
						},
						"FONDKAPREMONT_MODE": {
							"type": "string"
						},
						"HOUSETYPE_MODE": {
							"type": "string"
						},
						"TOTALAREA_MODE": {
							"type": "string"
						},
						"WALLSMATERIAL_MODE": {
							"type": "string"
						},
						"EMERGENCYSTATE_MODE": {
							"type": "string"
						},
						"OBS_30_CNT_SOCIAL_CIRCLE": {
							"type": "string"
						},
						"DEF_30_CNT_SOCIAL_CIRCLE": {
							"type": "string"
						},
						"OBS_60_CNT_SOCIAL_CIRCLE": {
							"type": "string"
						},
						"DEF_60_CNT_SOCIAL_CIRCLE": {
							"type": "string"
						},
						"DAYS_LAST_PHONE_CHANGE": {
							"type": "string"
						},
						"FLAG_DOCUMENT_2": {
							"type": "string"
						},
						"FLAG_DOCUMENT_3": {
							"type": "string"
						},
						"FLAG_DOCUMENT_4": {
							"type": "string"
						},
						"FLAG_DOCUMENT_5": {
							"type": "string"
						},
						"FLAG_DOCUMENT_6": {
							"type": "string"
						},
						"FLAG_DOCUMENT_7": {
							"type": "string"
						},
						"FLAG_DOCUMENT_8": {
							"type": "string"
						},
						"FLAG_DOCUMENT_9": {
							"type": "string"
						},
						"FLAG_DOCUMENT_10": {
							"type": "string"
						},
						"FLAG_DOCUMENT_11": {
							"type": "string"
						},
						"FLAG_DOCUMENT_12": {
							"type": "string"
						},
						"FLAG_DOCUMENT_13": {
							"type": "string"
						},
						"FLAG_DOCUMENT_14": {
							"type": "string"
						},
						"FLAG_DOCUMENT_15": {
							"type": "string"
						},
						"FLAG_DOCUMENT_16": {
							"type": "string"
						},
						"FLAG_DOCUMENT_17": {
							"type": "string"
						},
						"FLAG_DOCUMENT_18": {
							"type": "string"
						},
						"FLAG_DOCUMENT_19": {
							"type": "string"
						},
						"FLAG_DOCUMENT_20": {
							"type": "string"
						},
						"FLAG_DOCUMENT_21": {
							"type": "string"
						},
						"AMT_REQ_CREDIT_BUREAU_HOUR": {
							"type": "string"
						},
						"AMT_REQ_CREDIT_BUREAU_DAY": {
							"type": "string"
						},
						"AMT_REQ_CREDIT_BUREAU_WEEK": {
							"type": "string"
						},
						"AMT_REQ_CREDIT_BUREAU_MON": {
							"type": "string"
						},
						"AMT_REQ_CREDIT_BUREAU_QRT": {
							"type": "string"
						},
						"AMT_REQ_CREDIT_BUREAU_YEAR": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pl_Helpdesk')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Json2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,'.json')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": "*.json",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Json3",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Json4",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Json2')]",
				"[concat(variables('factoryId'), '/datasets/Json3')]",
				"[concat(variables('factoryId'), '/datasets/Json4')]"
			]
		}
	]
}